@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root {
    --primary-color: #f9dc5c
    --secondary-color: #f46036
    --accent1-color: #d7263d
    --accent2-color: #68b0ab
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: blue;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: blue;
}

p {
    font-size: 1.125rem;
    line-height: normal;
    margin-bottom: 1rem;  
}

a {
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

/* start with step 4 style the hero.. */

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

.hero img article {
    position: absolute;

}

.hero img article img {
    float: right;

}

article {
    background-color: beige;
    padding: 2rem;
    color: black;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.nav-container {
    display: flex;
}

header {
    margin: 1rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    max-width: 1000px;
}

.navigation a{
    display: block;
    color: blue;
    padding: 25px;
    text-decoration: underline;
}

section {
    background-color: brown;
    padding: 30px;
    margin-block: 20px;
}

.adventure {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100px;
    margin: 0 10px;
}

figcaption {
    font-size: 12px;
    margin-top: auto;
}

footer {
    background-color: steelblue;
    padding: 20px;
    text-align: center;

}

.sociallinks a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sociallinks {
    height: 100px;
    background-color: steelblue;
    border-radius: 50%;
    padding: 5px;
}