@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root {
  --primary-color: #f9dc5c;
  --secondary-color: #f46036;
  --accent1-color: #d7263d;
  --accent2-color: #68b0ab;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  padding: 1rem;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  background-color: #f9dc5c;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

.hero {
  position: relative;
  text-align: center;
  padding: 2rem 0;
  background-color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.hero article {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  color: black;
}

.hero article img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

section {
  padding: 2rem 0;
  text-align: center;
  background-color: #fff;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

section figure {
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
}

section figure img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

footer {
  background-color: var(--secondary-color);
  padding: 1rem;
  color: white;
  text-align: center;
}

footer p {
  margin: 0;
}

.sociallinks {
  margin-top: 1rem;
}

.sociallinks a {
  display: inline-block;
  margin-right: 0.5rem;
}

.sociallinks img {
  width: 50px;
  height: 50px;
}
