@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #f9dc5c;
    --secondary-color: #100502;
    --accent1-color: #d7263d;
    --accent2-color: #68b0ab;
    
    --heading-font: 'Roboto';
    --paragraph-font: 'serif';

    --nav-backround-color: var(--accent2-color);
    --nav-link-color: var(--accent1-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-backround-color: var(--primary-color);
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backround-color);
}
